<div class="container">
    <div class="row mt100">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Hi guys. I'm Gabriel Baroni.</h5>
                    <p>This is my test in Lemoney. He's a is an integrated system with the following technologies:</p>
                    <ul>
                        <li>Angular 10+</li>
                        <li>NestJS ( Node )</li>
                    </ul>
                    <p>If you want to know my profile and my skills see below. Bye.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4 talk">Talk to me</div>
                        <div class="col-md-8">
                            <div class="btn-group" role="group" aria-label="">
                                <a type="button" href="https://github.com/gabrielbaroni" target="_blank" class="btn btn-secondary"><i class="fab fa-github"></i> Github</a>
                                <a type="button" href="https://wa.me/5521967225282" target="_blank" class="btn btn-success"><i class="fab fa-whatsapp"></i> Whatsapp</a>
                                <a type="button" href="https://www.linkedin.com/in/gabriel-baroni-/" target="_blank" class="btn btn-primary"><i class="fab fa-linkedin"></i> Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt100">
        <div class="col-md-6">
            <div class="card offers">
                <div class="card-header">New Offer</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5"><i class="fas fa-plus-circle fa-7x"></i></div>
                        <div class="col-md-7 text"><a [routerLink]="['/new-offers']">You can add <br> new offer here.</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card offers">
                <div class="card-header">Offers</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5"><i class="fas fa-list-ul fa-7x"></i></div>
                        <div class="col-md-7 text"><a [routerLink]="['/offers']">You can see <br> offers here.</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>